{% extends "betting/base.html" %}

{% block content %}
<section class="game-list">
    <h2>Kommande matcher</h2>
    {% if upcoming_games %}
    <div class="row mb-2">
        {% for game in upcoming_games %}
        <div class="col-md-6 col-xl-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="d-flex flex-row mb-2 text-body-secondary">
                        <strong class="text-primary-emphasis">{{ game.start_time }}</strong>
                        <span class="mx-1">|</span>
                        {{ game.competition}}
                    </div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.home_team.logo %}{{ game.home_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.home_team }}</p>
                    </div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.away_team.logo %}{{ game.away_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.away_team }}</p>
                    </div>
                    <a href="{% url 'betting:detail' game.id %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Inga kommande matcher inlagda.</p>
    {% endif %}
</section>

<section class="standings-table">
    <h2 class="border-top border-5 border-dark mt-3 pt-3">Matchbet {{ competition.name }} {{ competition.season }}</h2>
    {% if result %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Namn</th>
                <th scope="col" class="text-end">
                <abbr class="d-block d-sm-none" title="Poäng">P</abbr
                ><span class="d-none d-sm-block">Poäng</span>
                </th>
                <th scope="col" class="text-end">+/-</th>
                <th scope="col" class="text-end"><abbr title="Gjorda mål">GM</abbr></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for row in result %}
            <tr>
                <td>{{ row.rank }}</td>
                <td class="text-nowrap">{{ row.user }}</td>
                <td class="text-end"><strong>{{ row.points }}</strong></td>
                <td class="text-end">{{ row.goal_diff }}</td>
                <td class="text-end">{{ row.goals_scored_diff }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>Inga matcher har spelats.</p>
    {% endif %}
</section>

<figure>
    <canvas id="tableChart" class="figure-img img-fluid"></canvas>
</figure>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    fetch("{% url 'betting:chart-data-view' competition.id %}")
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('tableChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    datasets: {
                        line: {
                            cubicInterpolationMode: 'monotone',
                            borderWidth: 1,
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                    },    
                    plugins: {
                        legend: {
                            display: true,
                            position: 'right'
                        },
                    },
                },
            });
        });
</script>

<section class="game-list">
    <h2 class="border-top border-5 border-dark mt-3 pt-3">Spelade matcher</h2>
    {% if past_games %}
    <div class="row mb-2">
        {% for game in past_games %}
        <div class="col-md-6 col-lg-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="mb-2 text-body-secondary"><strong class="text-primary-emphasis">{{ game.start_time }}</strong> | {{ game.competition}}</div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.home_team.logo %}{{ game.home_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.home_team }}</p>
                        <p class="h5 ms-auto me-2">{{ game.home_goals }}</p>
                    </div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.away_team.logo %}{{ game.away_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.away_team }}</p>
                        <p class="h5 ms-auto me-2">{{ game.away_goals }}</p>
                    </div>
                </div>
                <a href="{% url 'betting:detail' game.id %}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Inga matcher har spelats.</p>
    {% endif %}
</section>

{% endblock %}
