{% extends "betting/base.html" %}

{% block content %}

<h1>{{ game }}</h1>
<time datetime="{{ game.start_time }}">{{ game.start_time }}</time>
<p>{{ game.result|default_if_none:"-" }}</p>
{% if game.bets.all %}
<table>
    <tr>
        <th>Namn</th>
        <th>Resultat</th>
        <th>Poäng</th>
        <th></th>
        <th>Skapat</th>
        <th>Uppdaterat</th>
    </tr>
    {% for bet in game.bets.all %}
    <tr>
        <td>{{ bet.user }}</td>
        <td>{% if game.has_started or request.user == bet.user %}{{ bet.result }}{% endif %}</td>
        
        <td>{% if game.has_started %}{{ bet.points|default_if_none:"-" }}{% endif %}</td>
        {% if not game.has_started and request.user == bet.user %}
        {% comment %} <td><a href="{% url 'betting:update-bet' game.id bet.id %}">Ändra</a></td> {% endcomment %}
        <td><a href="{% url 'betting:delete-bet' game.id bet.id %}">Ta bort</a></td>
        <td>{{ bet.created }}</td>
        <td>{{ bet.updated }}</td>
        {% endif %}
    <tr>
    {% endfor %}
</table>
{% else %}
<p>Ingen har tippat på matchen än.</p>
{% endif %}

{% if not game.has_started %}
<h3>Lägg till bet</h3>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}

{% endblock %}
