{% extends "betting/base.html" %}

{% block content %}

<h1>{{ game }}</h1>
<time datetime="{{ game.start_time }}">{{ game.start_time }}</time>
<p>{% if game.result %}{{ game.result }}{% endif %}</p>
{% if game.game_bets.all %}
<table>
    <tr>
        <th>Namn</th>
        <th>Resultat</th>
        <th>Poäng</th>
        <th></th>
    </tr>
    {% for bet in game.game_bets.all %}
    <tr>
        <td>{{ bet.user }}</td>
        <td>{{ bet.result }}</td>
        <td>{{ bet.points }}</td>
        <td>{% if not game.is_played %}<a href="{% url 'betting:update-bet' bet.id %}">Ändra</a>{% endif %}</td>
        <td>{% if not game.is_played %}<a href="{% url 'betting:delete-bet' bet.id %}">Ta bort</a>{% endif %}</td>
    <tr>
    {% endfor %}
</table>
{% else %}
<p>Ingen har tippat på matchen än.</p>
{% endif %}

<a href="{% url 'betting:create-bet' %}">Lägg till bet</a>

{% endblock %}
