{% extends "betting/base.html" %}

{% block content %}

<h2>{{ game }}</h2>
<p>Hemmalag: {{ game.home_team }} {% if perms.betting.change_team %}<a href="{% url 'betting:update-team' game.home_team.id %}">Uppdatera lag</a>{% endif %}</p>
<p>Bortalag: {{ game.away_team }} {% if perms.betting.change_team %}<a href="{% url 'betting:update-team' game.away_team.id %}">Uppdatera lag</a>{% endif %}</p>
<time datetime="{{ game.start_time }}">{{ game.start_time }}</time>
<p>{{ game.result|default_if_none:"-" }}</p>
{% if perms.betting.change_game %}<p><a href="{% url 'betting:update-game' game.id %}">Uppdatera match</a></p>{% endif %}
{% if game.bets.all %}
<table>
    <tr>
        <th>Namn</th>
        <th>Resultat</th>
        <th>Poäng</th>
        <th>Skapat</th>
        <th>Uppdaterat</th>
        <th></th>
    </tr>
    {% for bet in game.bets.all %}
    <tr>
        <td>{{ bet.user }}</td>
        <td>{% if game.has_started or request.user == bet.user %}{{ bet.result }}{% endif %}</td>
        
        <td>{% if game.has_started %}{{ bet.points|default_if_none:"-" }}{% endif %}</td>
        <td>{{ bet.created }}</td>
        <td>{{ bet.updated }}</td>
        {% if not game.has_started and request.user == bet.user %}
        <td><a href="{% url 'betting:delete-bet' game.id bet.id %}">Ta bort</a></td>
        {% endif %}
    <tr>
    {% endfor %}
</table>
{% else %}
<p>Ingen har tippat på matchen än.</p>
{% endif %}

{% if not game.has_started %}
<h3>Lägg till bet</h3>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}

{% endblock %}
