{% extends "betting/base.html" %}
{% load betting_extras %}

{% block content %}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <div class="d-flex flex-column flex-sm-row flex-column-reverse mb-1">
            <div class="text-primary-emphasis"><strong>{{ game.start_time }}</strong></div>
            <div class="mb-2 text-body-secondary d-none d-sm-block mx-1">|</div>
            <div class="mb-sm-2 text-body-secondary">{{ game.competition}}</div>
            {% if perms.betting.change_game %}<div class="position-absolute top-0 end-0 pt-4 pe-4"><a class="btn btn-outline-primary" href="{% url 'betting:update-game' game.id %}">Uppdatera match</a></div>{% endif %}
        </div>
        <div class="d-flex flex-row">
            <img src="{% if game.home_team.logo %}{{ game.home_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 2.25rem; width: 2.25rem;">
            <p class="h2 text-nowrap">{{ game.home_team }}</p>
            {% if game.has_started %}<p class="h2 ms-auto me-2">{{ game.home_goals }}</p>{% endif %}
        </div>
        <div class="d-flex flex-row">
            <img src="{% if game.away_team.logo %}{{ game.away_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 2.25rem; width: 2.25rem;">
            <p class="h2 text-nowrap flex-grow-1">{{ game.away_team }}</p>
            {% if game.has_started %}<p class="h2 ms-auto me-2">{{ game.away_goals }}</p>{% endif %}

        </div>
    </div>
</div>

{% if game.bets.all %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Bet</th>
            <th scope="col">Poäng</th>
            <!-- <th scope="col">Skapat</th>
            <th scope="col">Uppdaterat</th> -->
            <th scope="col">Deadline</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for user, details in details_per_user.items %}
        <tr class="{% if request.user == user %}table-active{% endif %}">
            <td>{{ user }}</td>
            <td>{% if details.bet_visibility or game.has_started %}
                    {% if details.bet %}
                        {{ details.bet.result }}
                    {% else %}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                    {% endif %}
                {% elif request.user == user %}
                    {{ details.bet.result }}
                {% elif details.bet %}
                    <i class="bi bi-check-circle-fill text-success"></i>
                {% endif %}
            </td>
            <td>{% if game.has_started %}{{ details.bet.points|default_if_none:"-" }}{% endif %}</td>
            <!-- <td>{{ details.bet.created }}</td>
            <td>{% if details.bet.is_updated %}{{ details.bet.updated }}{% endif %}</td> -->
            <td>{{ details.deadline|date:"H:i" }}</td>
            <td>{% if details.bet and not details.bet_visibility and request.user == user %}<a href="{% url 'betting:delete-bet' game.id details.bet.id %}" class="link-danger"><i class="bi bi-trash3-fill"></i></a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Ingen har tippat på matchen än.</p>
{% endif %}

{% if user_can_submit %}
<div class="row">
    <h3>Lägg till/ändra bet</h3>
    <p>Deadline för ditt bet: {{ user_deadline }}</p>
    <div class="col col-md-6">
        <form method="POST" action="">
            {% csrf_token %}
            {% comment %} {{ form.as_div }} {% endcomment %}
            <div class="input-group">
                <span class="input-group-text">Resultat:</span>
                {{ form.home_goals.errors }}
                {{ form.home_goals }}
                <span class="input-group-text">-</span>
                {{ form.away_goals.errors }}
                {{ form.away_goals }}
                <button type="submit" class="btn btn-primary">Skicka</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% if messenger_bot_visibility %}
    {% if perms.betting.add_game %}
    <div class="row g-0">
        <h4>Messenger-boten<i class="ms-2 bi bi-messenger text-primary"></i></h4>
        <div class="col border rounded py-2">
            {% for bet, users in bet_summary %}
                <div class="ps-4">{{ bet }}: {% for user in users %}{{ user }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endif %}

{% endblock %}
