{% extends "betting/base.html" %}

{% block content %}
<h2>Kommande matcher</h2>
<section class="game-list">
    {% if upcoming_games %}
    <div class="row mb-2">
        {% for game, v in upcoming_games.items %}
        <div class="col-md-6 col-xl-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="d-flex flex-row mb-2 text-body-secondary">
                        <strong class="text-primary-emphasis">{{ game.start_time }}</strong>
                        <span class="mx-1">|</span>
                        {{ game.competition}}
                        {% if v.user_has_bet %}<i class="ms-auto bi bi-check-circle-fill text-success"></i>{% endif %}
                    </div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.home_team.logo %}{{ game.home_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.home_team }}</p>
                    </div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.away_team.logo %}{{ game.away_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.away_team }}</p>
                    </div>
                    <a href="{% url 'betting:detail' game.id %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Inga matcher inlagda.</p>
    {% endif %}
</section>

<h2 class="border-top border-5 border-dark mt-3 pt-3">Spelade matcher</h2>
<section class="game-list">
    {% if past_games %}
    <div class="row mb-2">
        {% for game, v in past_games.items %}
        <div class="col-md-6 col-xl-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="d-flex flex-row mb-2 text-body-secondary">
                        <strong class="text-primary-emphasis">{{ game.start_time }}</strong>
                        <span class="mx-1">|</span>
                        {{ game.competition}}
                        <i class="ms-auto bi {% if v.user_has_bet %}bi-check-circle-fill text-success{% else %}bi-x-circle-fill text-danger{% endif %}"></i>
                    </div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.home_team.logo %}{{ game.home_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.home_team }}</p>
                    </div>
                    <div class="d-flex flex-row">
                        <img src="{% if game.away_team.logo %}{{ game.away_team.logo.url }}{% endif %}" class="img-fluid me-3" style="object-fit: contain; height: 1.5rem; width: 1.5rem;">
                        <p class="h5 text-nowrap">{{ game.away_team }}</p>
                    </div>
                    <a href="{% url 'betting:detail' game.id %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Inga matcher inlagda.</p>
    {% endif %}
</section>

{% endblock %}
