{% extends "betting/base.html" %}

{% block content %}
<h2>Kommande matcher</h2>
<section class="game-list">
    {% if upcoming_games %}
    <div class="list-group list-group-flush">
        {% for game in upcoming_games %}
        <a href="{% url 'betting:detail' game.id %}" class="list-group-item list-group-item-action">
            <small class="mb-1">{{ game.start_time }}</small>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ game }}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p>Inga matcher inlagda.</p>
    {% endif %}
</section>

<h2 class="border-top border-5 border-dark mt-3 pt-3">Spelade matcher</h2>
<section class="game-list">
    {% if past_games %}
    <div class="list-group list-group-flush">
        {% for game in past_games %}
        <a href="{% url 'betting:detail' game.id %}" class="list-group-item list-group-item-action">
            <small class="mb-1">{{ game.start_time }}</small>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ game }}</h5>
                <p class="badge bg-primary rounded-pill">{{ game.result|default_if_none:"-" }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p>Inga matcher inlagda.</p>
    {% endif %}
</section>

{% endblock %}
