{% extends "betting/base.html" %}

{% block content %}
<div class="d-flex align-items-start">
    <small class="lead"><time datetime="{{ game.start_time }}">{{ game.start_time }}</time></small>
    {% if perms.betting.change_game %}<a class="btn btn-outline-primary ms-auto" href="{% url 'betting:update-game' game.id %}">Uppdatera match</a>{% endif %}
</div>
<div class="d-flex align-items-start">
    <h2 class="">{{ game }}</h2>
    {% if game.has_started %}
        <span class="badge bg-primary ms-5"><span class="h3">{{ game.result|default_if_none:'&nbsp;-&nbsp;' }}</span></span>
    {% endif %}
</div>
{% if game.bets.all %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Resultat</th>
            <th scope="col">Poäng</th>
            <th scope="col">Skapat</th>
            <th scope="col">Uppdaterat</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for bet in game.bets.all %}
        <tr class="{% if request.user == bet.user %}table-active{% endif %}">
            <td>{{ bet.user }}</td>
            <td>{% if game.has_started or request.user == bet.user %}{{ bet.result }}{% endif %}</td>
            <td>{% if game.has_started %}{{ bet.points|default_if_none:"-" }}{% endif %}</td>
            <td>{{ bet.created }}</td>
            <td>{% if bet.is_updated %}{{ bet.updated }}{% endif %}</td>
            <td>{% if not game.has_started and request.user == bet.user %}<a href="{% url 'betting:delete-bet' game.id bet.id %}">Ta bort</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Ingen har tippat på matchen än.</p>
{% endif %}

{% if not game.has_started %}
<h3>Lägg till/ändra bet</h3>
<div class="col-md-6">
    <form method="POST" action="">
        {% csrf_token %}
        {% comment %} {{ form.as_div }} {% endcomment %}
        <div class="input-group">
            <span class="input-group-text">Resultat:</span>
            {{ form.home_goals.errors }}
            {{ form.home_goals }}
            <span class="input-group-text">-</span>
            {{ form.away_goals.errors }}
            {{ form.away_goals }}
            <button type="submit" class="btn btn-primary">Skicka</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
