{% extends "betting/base.html" %}

{% block content %}

<h1>Bettingkingarna</h1>
{% if game_list %}
    <table>
        <tr>
            <th>Datum</th>
            <th>Lag</th>
            <th>Resultat</th>
        </tr>
    {% for game in game_list %}
        <tr>
            <td>{{ game.start_time }}</td>
            <td><a href="{% url 'betting:detail' game.id %}">{{ game }}</a></td>
            <td class="result">{{ game.result|default_if_none:"-" }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}
