{% extends "betting/base.html" %}

{% block content %}

<h1>Bettingkingarna</h1>
<h2>Kommande matcher</h2>
{% if upcoming_games %}
    <table>
        <tr>
            <th>Datum</th>
            <th>Lag</th>
            <th>Resultat</th>
        </tr>
    {% for game in upcoming_games %}
        <tr>
            <td>{{ game.start_time }}</td>
            <td><a href="{% url 'betting:detail' game.id %}">{{ game }}</a></td>
            <td class="result">{{ game.result|default_if_none:"-" }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No games are available.</p>
{% endif %}
<h2>Spelade matcher</h2>
{% if past_games %}
    <table>
        <tr>
            <th>Datum</th>
            <th>Lag</th>
            <th>Resultat</th>
        </tr>
    {% for game in past_games %}
        <tr>
            <td>{{ game.start_time }}</td>
            <td><a href="{% url 'betting:detail' game.id %}">{{ game }}</a></td>
            <td class="result">{{ game.result|default_if_none:"-" }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}
