{% extends "betting/base.html" %}

{% block content %}
<h2>Kommande matcher</h2>
<section class="game-list">
{% if upcoming_games %}
    {% for game in upcoming_games %}
    <div class="game">
        <div class="game-date">{{ game.start_time }}</div>
        <div class="game-title"><a href="{% url 'betting:detail' game.id %}">{{ game }}</a></div>
        <div class="result">{{ game.result|default_if_none:"-" }}</div>
    </div>
    {% endfor %}

    <table>
        <tr>
            <th>Datum</th>
            <th>Lag</th>
            <th>Resultat</th>
        </tr>
    {% for game in upcoming_games %}
        <tr>
            <td>{{ game.start_time }}</td>
            <td><a href="{% url 'betting:detail' game.id %}">{{ game }}</a></td>
            <td class="result">{{ game.result|default_if_none:"-" }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Inga tillgängliga matcher.</p>
{% endif %}
</section>

<h2>Spelade matcher</h2>
<section class="game-list">
{% if past_games %}
    <table>
        <tr>
            <th>Datum</th>
            <th>Lag</th>
            <th>Resultat</th>
        </tr>
    {% for game in past_games %}
        <tr>
            <td>{{ game.start_time }}</td>
            <td><a href="{% url 'betting:detail' game.id %}">{{ game }}</a></td>
            <td class="result">{{ game.result|default_if_none:"-" }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Inga tillgängliga matcher.</p>
{% endif %}
</section>

{% endblock %}
