{% extends "betting/base.html" %}
{% load static %}
{% load betting_extras %}

{% block content %}

{% if stats_table %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Namn</th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Bets">B</abbr><span class="d-none d-sm-block">Bets</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Poäng">P</abbr><span class="d-none d-sm-block">Poäng</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Snitt">S</abbr><span class="d-none d-sm-block">Snitt</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="0 poäng">0</abbr><span class="d-none d-sm-block">0 p</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="1 poäng">1</abbr><span class="d-none d-sm-block">1 p</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="3 poäng">3</abbr><span class="d-none d-sm-block">3 p</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="4 poäng">4</abbr><span class="d-none d-sm-block">4 p</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="6 poäng">6</abbr><span class="d-none d-sm-block">6 p</span></th>
                <!-- <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Poäng (5)">P5</abbr><span class="d-none d-sm-block">Poäng (5)</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Snitt (5)">S5</abbr><span class="d-none d-sm-block">Snitt (5)</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Poäng (10)">P10</abbr><span class="d-none d-sm-block">Poäng (10)</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Snitt (10)">S10</abbr><span class="d-none d-sm-block">Snitt (10)</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Poäng (15)">P15</abbr><span class="d-none d-sm-block">Poäng (15)</span></th>
                <th scope="col" class="text-end"><abbr class="d-block d-sm-none" title="Snitt (15)">S15</abbr><span class="d-none d-sm-block">Snitt (15)</span></th> -->
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for row in stats_table %}
            <tr class="{% if row.rank == 1 %}border-secondary border-2{% elif row.rank == 2 or row.rank == 3 or row.rank == 7 %}border-secondary{% endif %}">
                <td class="text-nowrap">{{ row.user__first_name }}</td>
                <td class="text-end">{{ row.total_bets }}</td>
                <td class="text-end">{{ row.total_points }}</td>
                <td class="text-end">{{ row.average_points }}</td>
                <td class="text-end">{{ row.zero_points }}</td>
                <td class="text-end">{{ row.one_point }}</td>
                <td class="text-end">{{ row.three_points }}</td>
                <td class="text-end">{{ row.four_points }}</td>
                <td class="text-end">{{ row.six_points }}</td>
                <!-- <td class="text-end">{{ row.total_points_last_5 }}</td>
                <td class="text-end">{{ row.average_points_last_5 }}</td>
                <td class="text-end">{{ row.total_points_last_10 }}</td>
                <td class="text-end">{{ row.average_points_last_10 }}</td>
                <td class="text-end">{{ row.total_points_last_15 }}</td>
                <td class="text-end">{{ row.average_points_last_15 }}</td> -->
            <tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
<p>Ingen statistik finns för aktuellt år.</p>
{% endif %}

{% if game_stats %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Datum/tid</th>
                <th scope="col">Match</th>

                {% for user in user_list %}
                <th scope="col">{{ user.user__first_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for row in game_stats %}
            <tr class="{% if row.rank == 1 %}border-secondary border-2{% elif row.rank == 2 or row.rank == 3 or row.rank == 7 %}border-secondary{% endif %}">
                <td>{{ row.start_time }}</td>
                <td class="text-nowrap">{{ row.home_team__name }} - {{ row.away_team__name }}</td>

                {% for user in user_list %}
                <td class="text-end">{{ row|get_dynamic_key:user.user__id }}</td>
                {% endfor %}
            <tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
<p>Ingen statistik finns för aktuellt år.</p>
{% endif %}
{% endblock content %}
