{% extends "betting/base.html" %}
{% load static %}

{% block content %}
{% if perms.betting.add_team %}<a class="btn btn-outline-primary ms-auto" href="{% url 'betting:create-team' %}">Skapa lag</a>{% endif %}

<h2>Inlagda lag</h2>
<section class="team-list">
    {% if team_list %}
    <div class="list-group list-group-flush">
        {% for team in team_list %}
        <a href="{% if perms.betting.change_team %}{% url 'betting:update-team' team.id %}{% else %}#{% endif %}" class="list-group-item list-group-item-action">
            <h5 class="mb-1">{{ team }}</h5>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p>Inga lag inlagda.</p>
    {% endif %}
</section>
{% endblock content %}
